body{
    background-color:darkorange;
    height: 100%;
    margin: 0;
    font-family: cursive;
}


p{
    color: rgb(41, 41, 41);
    margin-top: 1 em;
    margin-right: 1 em;
    font-size: large;
}

h1, h3, h4, h5, h6{
    font-weight: 200;
    font-size: x-large;
    text-align: right;
}

h2{
    font-size: xx-large;
}

img{
   max-width: 25%;
   height: 100 em;
   float: right;
}

hr{
    border-top: 3px solid #000000;
}